.card-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    color: #aaa;
    height: 30rem;
    transition: all 0.2s ease-in-out;
    padding: 2rem 1.5rem;
    margin: 0 auto;
}

.card-container:hover {
    transform: scale(1.05)
}

.card-container h1 {
    margin: 3rem 0 2rem 0;
}

.card-container p {
    color: #ccc;
}